.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.random-image {
    cursor: pointer;
    position: absolute;
    height: auto;
    opacity: 1;
    transition: all 0.6s ease-in-out;
}

.random-image:hover {
    -webkit-filter: grayscale(1);
    animation: flipAndGrey 0.4s ease-in-out;
    filter: grayscale(1);
    transform: scaleX(-1);
}

@keyframes flipAndGrey {
    0% {
        filter: grayscale(0);
    }

    100% {
        filter: grayscale(1);
    }
}

@media (max-width: 600px) {
    .overlay {
        display: none;
    }
}
